kind: Deployment
apiVersion: apps/v1
metadata:
  name: notes-app-dep
  namespace: notes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
        - name: notes-app-cont
          image: kuldeepsharmaks1/notes-app
          ports:
            - containerPort: 8000
